<h1>New House</h1>
<form>
  <p>
    Number of rooms:
    <input type="number" value="3"/>
  </p>

  <p>
    Furnished:
    <input type="checkbox" checked />
  </p>

  <p>
    Garage:
    <input type="checkbox" checked />
  </p>

  <p>
    <a href="/houses/1">
      <input type="button" value="Submit" />
    </a>
  </p>
</form>
